<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    {% for password in passwords %}
    <li>{{ password.title }}</li>
    <li>{{ password.username }}</li>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        <!-- <input type="hidden" name="csrfmiddlewaretoken" value="rBZCng998fLdLTIxUftlFQw4JV0OoNfaCqutdDH9SB8XkyvZh1zVlGRnccQRUBZH">
    <label for="id_username">نام:</label>
    <input type="text" name="username" maxlength="20" id="id_username" required="">
    <label for="id_password">رمز:</label>
    <input type="text" name="password" maxlength="20" id="id_password" required=""> -->
    <!-- <input type="submit" value="Login"> -->
        {{form.as_p}}
        <!-- <button type="submit">ارسال</button> -->
        <input type="submit" value="Login">

    </form>
</body>
</html>